@import "mixins";

@color-blue: #01d6ff;
@color-blue-darken: #004d7c;
@color-orange: #ef7d00;

h1, h2, h3, h4, h5, h5 {
  font-weight: 200;
}
html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  &.orange {
    color: @color-orange;
  }
}
h1 {
  font-size: 3.125rem;
  margin: 1rem 0;
}


.layout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  .transition(opacity .4s);
  z-index: 3;
  &.lighten {
    background: rgba(0, 40, 68, 0.7);
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.imageBox {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-width: 300px;
  max-width: 1050px;
  width: 65vw;
  //overflow: auto;
  //visibility: hidden;
  //opacity: 0;
  //.transform(translate3d(0, -20%, 0));
  visibility: hidden;
  opacity: 0;
  height: auto;
  max-height: 95%;
  .transform(translate3d(0, -20%, 0));
  .transition(opacity 0.4s);
  .transition(transform 0.4s);
  .transition(visibility 0.4s);
  z-index: 4;
  canvas {
    position: absolute;
    width: ~"calc(100% + 20px)";
    height: ~"calc(100% + 20px)";
    top: -10px;
    left: -10px;
    z-index: 1;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .transform(translate3d(0, 0, 0));
  }
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .box-sizing();
    background: url(../img/backNiga.jpg);
    .content-image {
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        cursor: pointer;
      }
      iframe {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .arrow {
      position: absolute;
      display: flex;
      align-items: center;
      text-align: center;
      width: 30%;
      height: 100%;
      cursor: pointer;
      top: 0;
      .box-sizing();
      img {
        position: absolute;
        margin: auto;
      }
      &.left {
        left: -30%;
        img {
          left: 70%
        }
      }
      &.right {
        right: -30%;
        img {
          right: 70%;
        }
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      background: url(../img/ugol.png) no-repeat;
      width: 51px;
      height: 84px;
      z-index: 2;
      .cross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        background: url(../img/krest.png) no-repeat;
        background-position: 70% 30%;
        width: 13px;
        height: 14px;
        cursor: pointer;
      }
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-width: 300px;
  max-width: 1050px;
  max-height: 95%;
  width: 55vw;
  //overflow: auto;
  visibility: hidden;
  opacity: 0;
  .transform(translate3d(0, -20%, 0));
  .transition(opacity 0.4s);
  .transition(transform 0.4s);
  z-index: 4;
  canvas {
    position: absolute;
    width: ~"calc(100% + 20px)";
    height: ~"calc(100% + 20px)";
    top: -10px;
    left: -10px;
    z-index: 1;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    .transform(translate3d(0, 0, 0));
    .wrapper {
      header {
        h3 {
          opacity: 1;
          .transform(translate3d(0, 0, 0));
        }
        p {
          opacity: 1;
          .transform(translate3d(0, 0, 0));
        }
      }
      section {
        opacity: 1;
        .transform(translate3d(0, 0, 0));
      }
    }
  }
  .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    .box-sizing();
    padding: 10vh 7vw;
    background: url(../img/backNiga.jpg);
    >.close {
      position: absolute;
      top: 0;
      right: 0;
      background: url(../img/ugol.png) no-repeat;
      width: 51px;
      height: 84px;
      z-index: 2;
      .cross {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        background: url(../img/krest.png) no-repeat;
        background-position: 70% 30%;
        width: 13px;
        height: 14px;
        cursor: pointer;
      }
    }
    header {
      position: relative;
      z-index: 2;
      color: white;
      text-align: center;
      h3 {
        margin: 0;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 3.125rem;
        opacity: 0;
        .transform(translate3d(0, -100%, 0));
        .transition(all .35s .2s);
        &.upp {
          text-transform: uppercase;
        }
      }
      p {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        opacity: 0;
        .transform(translate3d(0, -100%, 0));
        .transition(all .35s .3s);
      }
    }
    section {
      position: relative;
      z-index: 2;
      opacity: 0;
      color: white;
      .transform(translate3d(0, -50%, 0));
      .transition(all .35s .35s);
      .okmodal {
        display: block;
        margin: 30px auto;
      }
      form {
        margin-top: 30px;
        .flex-block();
        .flex-direction(column);
        .justify-content(space-around);
        .align-items(center);
        label {
          width: 55%;
          min-width: 290px;
          margin: 10px 0;
          input {
            width: 100%;
            .box-sizing();
            padding: 10px 20px;
            border: 2px solid @color-blue;
            .rounded(3px);
            .box-shadow(0, 0, 10px, @color-blue);
          }
        }
        button {
          margin-top: 30px;
        }
      }
      .numberBlock {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        width: 100%;
        margin: 3vh 0;
        .head {
          color: #00d5ff;
          font-size: 1rem;
          margin: 0;
        }
        .desc {
          font-size: 1rem;
          color: white;
          margin: 0;
        }
        .number {
          position: absolute;
          top: 0;
          left: -65px;
          width: 40px;
          height: 40px;
          color: #00d5ff;
          border: 2px solid #00d5ff;
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          .rounded(50%);
        }
      }
    }
    .decor {
      position: absolute;
      bottom: 0;
      .transform(scale(.8));
      &.i1 {
        background: url(../img/decoiskr1.png);
        width: 385px;
        height: 545px;
        left: -10%;
        transform-origin: bottom left;
      }
      &.i2 {
        background: url(../img/decoiskr2.png);
        width: 475px;
        height: 581px;
        right: -10%;
        transform-origin: bottom right;
      }
    }
  }
}
.button {
  display: inline-block;
  border: 2px solid white;
  color: white;
  .rounded(25px);
  background: transparent;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 1.125rem;
  &.orange {
    border: 2px solid @color-orange;
    color: @color-orange;
  }
}
aside.mainMenu {
  z-index: 2;
  width: 340px;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -moz-radial-gradient( 50% 50%, circle, rgb(8,102,160) 0%, rgb(0,30,50) 100%);
  background-image: -webkit-radial-gradient( 50% 50%, circle, rgb(8,102,160) 0%, rgb(0,30,50) 100%);
  background-image: -ms-radial-gradient( 50% 50%, circle, rgb(8,102,160) 0%, rgb(0,30,50) 100%);
  background-image: radial-gradient( 50% 50%, circle, rgb(8,102,160) 0%, rgb(0,30,50) 100%);
  height: 100%;
  &.active {
    .transform(translate3d(0,0,0));
  }
  .flex-block();
  .align-items(center);
  .wrapper {
    background: url(../img/noise-pattern2.png);
    background-size: 59px;
    width: 100%;
    .gradiLine {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 2px;
      height: 100%;
      background-image: -webkit-linear-gradient( 0deg, rgba(0,212,255,0) 0%, rgba(0,212,255,0.8) 50%, rgba(0,212,255,0) 100%);
      background-image: linear-gradient( 0deg, rgba(0,212,255,0) 0%, rgba(0,212,255,0.8) 50%, rgba(0,212,255,0) 100%);
    }
    .closeMobile {
      width: 12px;
      height: 12px;
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px;
      display: none;
      svg {
        stroke: @color-blue-darken;
        stroke-width: 2px;
      }
    }
  }
  .logo {
    padding: 0 0 30px 0;
    img {
      display: block;
      margin: 0 auto;
      width: 10vw;
    }
  }
  .navigation {
    font-size: 1.125rem;
    text-transform: uppercase;
    position: relative;
    nav {
      .transition(transform .4s .4s ease-in-out);
      .transform(translate3d(0, 0, 0));
      &.hide {
        .transition(transform .4s 0s ease-in-out);
        .transform(translate3d(-100%, 0, 0));
      }
    }
    .backToMenu {
      color: white;
      cursor: pointer;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid @color-blue;
      margin-bottom: 20px;
    }
    a {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: white;
      text-decoration: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        a {
          padding: 10px 35px 10px 40px;
          display: inline-block;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          .transition(all .3s);
          position: relative;
          overflow: hidden;
          z-index: 1;
          span {
            color: white;
            z-index: 2;
            .transition(color .35s);
            display: inline-block;
          }
          &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100px;
            height: 100px;
            background: @color-blue;
            .rounded(50%);
            margin: auto;
            left: -65px;
            z-index: -1;
            .transform(scale(0));
            .transition(transform .4s);
          }
          &:hover {
            &::before {
              .transform(scale(10));
            }
            span {
              color: @color-blue-darken;
            }
          }
          &.active {
            &::before {
              .transform(scale(10));
            }
            span {
              color: @color-blue-darken;
              transform-origin: left center;
              .transform(scale(1.1));
            }
          }
        }
      }
    }
    .slideMenu {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .block {
    text-align: center;
    padding: 20px 0;
    &.calc {
      .button {
        padding: 10px 20px 10px 50px;
        &::before {
          content: '';
          position: absolute;
          background: url(../img/calc.png) no-repeat;
          width: 36px;
          height: 36px;
          top: 0;
          bottom: 0;
          left: 7px;
          margin: auto;
        }
      }
    }
    &.contact {
      .tel {
        display: block;
        text-decoration: none;
        color: @color-blue;
        font-size: 24px;
        margin-bottom: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
      }
      .button {
        color: @color-blue;
      }
      .pod {
        color: white;
        font-size: .9rem;
        font-family: 'Roboto', sans-serif;
      }
    }
  }
}
section.mainSection {
  width: ~"calc(100% - 340px)";
  margin-left: 340px;
  background: url(../img/backNiga.jpg);
  position: relative;
  z-index: 1;
  .burger {
    position: fixed;
    left: 0;
    top: 0;
    padding: 6px 6px 4px;
    margin: 5px;
    cursor: pointer;
    background: #00192a;
    border-radius: 5px;
    z-index: 9999999;
    display: none;
    svg {
      stroke: @color-orange;
      stroke-width: 2px;
      width: 20px;
      height: 20px;
    }
  }
  .wrapper {
    &.wrap404 {
      text-align: center;
      position: relative;
      h2 {
        text-align: center;
        color: white;
        font-family: Roboto, sans-serif;
        font-weight: 500;
        text-transform: inherit;
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 50px;
      }
    }
    &.wrapper3d {
      width: 100%;
      height: 100vh;
      background-image: url(../img/RR_05.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &.wrapperMain {
      position: relative;
      //overflow: hidden;
      -webkit-perspective: 7000px;
      perspective: 7000px;
      header {
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px 80px;
        z-index: 2;
        .box-sizing();
        .breadCrumbs {
          color: white;
          .delimer {
            margin: 0 5px;
          }
          a {
            color: white;
            text-decoration: none;
            font-size: 0.9rem;
            font-family: 'Roboto', sans-serif;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      &.service {
        .kuka {
          background: url(../img/service_machine/robot.png) no-repeat;
          width: 982px;
          height: 850px;
        }
        .iscr1 {
          background: url(../img/service_machine/steklo.png) no-repeat;
          width: 1189px;
          height: 1060px;
        }
        .iscr2 {
          background: url(../img/service_machine/steklo2.png) no-repeat;
          width: 1129px;
          height: 1018px;
        }
        .iscr3 {
          display: none;
        }
      }
      .kuka {
        background: url(../img/kuka.png) no-repeat;
        width: 889px;
        height: 782px;
        position: absolute;
        transform-origin: left bottom;
        .transform(scale(.84));
        left: -50px;
        bottom: -20px;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        z-index: 2;
      }
      .iscr1 {
        background: url(../img/iskr1.png) no-repeat;
        width: 491px;
        height: 821px;
        position: absolute;
        transform-origin: left bottom;
        .transform(scale(.84));
        //.transition(transform .5s ease-out);
        left: -70px;
        bottom: -20px;
      }
      .iscr2 {
        background: url(../img/iskr2.png) no-repeat;
        width: 828px;
        height: 691px;
        position: absolute;
        transform-origin: left bottom;
        .transform(scale(.84));
        //.transition(transform .5s ease-out);
        left: 0;
        bottom: -20px;
      }
      .iscr3 {
        background: url(../img/iskr3.png) no-repeat;
        width: 1406px;
        height: 732px;
        position: absolute;
        transform-origin: left bottom;
        .transform(scale(.84));
        //.transition(transform .5s ease-out);
        left: 0;
        bottom: -30px;
      }
      .mainSlider {
        width: 100%;
        line-height: 0;
        position: relative;
        height: 85vh;
        &.contacts {
          height: 50vh;
          min-height: 400px;
          max-height: 550px;
        }
        .slide {
          position: relative;
          height: 100%;
          overflow: hidden;
          background-size: cover;
          background-repeat: no-repeat;
          &.planet {
            background-position: center;
            .headTitle {
              h1 {
                line-height: 1.3;
              }
            }
          }
          .headTitle {
            position: absolute;
            .flex-block();
            .flex-direction(column);
            .justify-content(center);
            width: 400px;
            &.service {
              width: 450px;
            }
            height: 55%;
            top: 0;
            bottom: 0;
            right: 10%;
            margin: auto;
            line-height: normal;
            z-index: 3;
            h1, h2 {
              color: white;
              margin: 0;
              line-height: 1;
            }
            .line {
              margin: 20px 0;
              width: 100px;
              height: 3px;
              background: @color-blue;
            }
            p {
              color: white;
              margin: 0;
              font-size: 20px;
            }
          }
        }
      }
      .calculator {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
      }
      .bottomLine {
        position: absolute;
        bottom: -3px;
        height: 3px;
        width: 30%;
        background-image: linear-gradient(90deg, @color-blue, transparent);
      }
    }
    &.wrapperDevelop {
      position: relative;
      min-height: ~"calc(33vw + 10rem + 110px)";
      #developCanvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .tabs {
        position: relative;
        .flex-block();
        .justify-content(space-around);
        .align-items(center);
        .align-content(center);
        .tab {
          padding: 2.5rem 0;
          z-index: 2;
          a {
            color: white;
            font-size: 1.375rem;
            .transition(color .35s);
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            &:hover {
              color: @color-blue;
            }
          }
          &.active {
            a {
              color: @color-blue;
            }
          }
        }
        .karetka {
          background: url(../img/tabHuita.png) no-repeat;
          background-size: 100% 100%;
          width: 266px;
          height: 53px;
          position: absolute;
          bottom: 0;
          .transition(opacity .35s);
          &.hidden {
            opacity: 0;
          }
        }
      }
      .tabsContent {
        .flex-block();
        .align-items(center);
        width: 100%;
        //padding-top: 10rem;
        position: absolute;
        left: 0;
        bottom: 0;
        &:not(.active) {
          overflow: hidden;
        }
        &.active {
          z-index: 2;
          overflow: initial;
          .leftSide {
            .transform(translate3d(0, 0, 0));
            opacity: 1;
            visibility: visible;
            .man {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
            .diagram {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
            .sowhat {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
          }
          .rightSide {
            .transform(translate3d(0, 0, 0));
            opacity: 1;
            visibility: visible;
          }
        }
        .leftSide {
          width: 50%;
          height: 55vh;
          min-height: 450px;
          .box-sizing();
          padding: 0 35px;
          background: url(../img/fon_b2.jpg) no-repeat;
          background-origin: content-box;
          background-size: 100% 100%;
          position: relative;
          .transition(all .4s ease-out);
          .transform(translate3d(-100%, 0, 0));
          opacity: 0;
          visibility: hidden;
          &.service {
            background-image: url(../img/service_machine/leftBlock_dev.png);
            backgrund-repeat: no-repeat;
            background-position: center bottom;
            min-height: 36vw;
            background-size: contain;
            background-origin: content-box;
            z-index: 2;
            &.tab2 {
              background-image: url(../img/service_machine/leftBlock_devtab2.png);
            }
            &.tab3 {
              background-image: url(../img/service_machine/leftBlockdevtab3.png);
            }
            &::after {
              display: none;
            }
          }
          &.hidden {
            .transform(translate3d(-50%, 0, 0));
            opacity: 0;
          }
          .man {
            background: url(../img/robot-vasiliy.png) no-repeat;
            width: 85%;
            height: 95%;
            background-size: cover;
            position: absolute;
            bottom: 0;
            left: 2%;
            .transition(all .5s .4s);
            opacity: 0;
            .transform(translate3d(0, 20%, 0));
          }
          .diagram {
            background: url(../img/grafik.png) no-repeat;
            width: 47%;
            height: 85%;
            background-size: cover;
            position: absolute;
            right: 10%;
            top: 7%;
            .transition(all .5s .7s);
            opacity: 0;
            .transform(translate3d(0, 10%, 0));
          }
          .sowhat {
            background-image: url(../img/develop_cont.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center top;
            min-height: 450px;
            width: 100%;
            height: 100%;
            position: relative;
            top: -40px;
            .transition(all .5s .4s);
            opacity: 0;
            .transform(translate3d(0, 20%, 0));
          }
          &::after {
            content: '';
            position: absolute;
            background: url(../img/svetPodFon.png) no-repeat;
            //background-size: cover;
            background-size: 100% 100%;
            width: 100%;
            height: 120%;
            z-index: -1;
            //top: -135px;
            left: 50px;
            bottom: 0;
          }
        }
        &[data-tab=tab1] {
          .rightSide .desc h3::before {
            top: -30%;
          }
          .rightSide.service .desc h3::before {
            top: -60%;
          }
        }
        &[data-tab=tab2] {
          .rightSide .desc h3::before {
            top: -65%;
          }
          .rightSide.service .desc h3::before {
            top: -60%;
          }
        }
        &[data-tab=tab3] {
          .rightSide.service .desc h3::before {
            top: -30%;
          }
        }
        .rightSide {
          width: 50%;
          .box-sizing();
          padding: 0 35px 35px 60px;
          position: relative;
          .transition(all .4s ease-out);
          .transform(translate3d(100%, 0, 0));
          opacity: 0;
          visibility: hidden;
          &.hidden {
            .transform(translate3d(50%, 0, 0));
            opacity: 0;
          }
          &.service {
            .desc {
              h3 {
                max-width: 500px;
              }
              h3::before {
                top: -35%;
              }
            }
          }
          .desc {
            color: white;
            h3 {
              margin: 0;
              font-size: 2.875rem;
              max-width: 450px;
              position: relative;
              right: 35px;
              &::before {
                content: '';
                background: url(../img/zagolovok.png) no-repeat;
                width: 607px;
                height: 246px;
                background-size: 100% 100%;
                position: absolute;
                z-index: -1;
                top: -15%;
                left: -20%;
              }
            }
            p {
              font-size: 1.2rem;
              font-family: 'Roboto', sans-serif;
              margin: 0;
              padding: 1rem 2rem;
              //&:nth-last-of-type(1) {
              //  padding-top: 0;
              //}
            }
            ul {
              margin: 0 0 35px 0;
              list-style: none;
              &.galochki {
                li {
                  &::before {
                    background: url(../img/galochka.png) no-repeat!important;
                    width: 24px;
                    height: 22px;
                  }
                }
              }
              li {
                padding: 1rem 0 1rem 3rem;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  background-repeat: no-repeat;
                }
                &:nth-of-type(1)::before {
                  background: url(../img/icons_dev-1.png);
                  width: 23px;
                  height: 26px;
                }
                &:nth-of-type(2)::before {
                  background: url(../img/icons_dev-2.png);
                  width: 24px;
                  height: 24px;
                }
                &:nth-of-type(3)::before {
                  background: url(../img/icons_dev-3.png);
                  width: 22px;
                  height: 24px;
                }
                &:nth-of-type(4)::before {
                  background: url(../img/icons_dev-4.png);
                  width: 20px;
                  height: 23px;
                }
              }
            }
            .columns {
              margin-top: 40px;
              .flex-block();
              .flex-wrap(wrap);
              .align-items(flex-start);
              .justify-content(flex-start);
              .column {
                width: 50%;
                .box-sizing();
                margin-bottom: 20px;
                padding-left: 60px;
                padding-right: 15px;
                background-image: url(../img/galochka.png);
                background-repeat: no-repeat;
                background-position: 20px 0;
                .big {
                  margin: 0;
                  font-size: 1.2rem;
                  padding: 0;
                }
                .small {
                  margin: 0;
                  font-size: 1rem;
                  padding: 0;
                  margin-top: 10px;
                }
              }
            }
            .button {
              left: 120px;
              bottom: -12px;
              background: url(../img/backNiga.jpg);
              position: absolute;
              &::before {
                content: '';
                background: url(../img/kvadratfon.png) no-repeat;
                width: 98px;
                height: 30px;
                position: absolute;
                top: 5px;
                left: -40px;
                z-index: -1;
                background-size: 100% 100%;
              }
              &::after {
                content: '';
                background: url(../img/kvadratfon.png) no-repeat;
                width: 98px;
                height: 30px;
                position: absolute;
                top: 5px;
                right: -40px;
                z-index: -1;
                background-size: 100% 100%;
              }
            }
          }
        }
        &[data-tab='tab2'] {
          .leftSide {
            &::after {
              display: none;
            }
          }

          .rightSide {
            &.service .desc h3 {
              max-width: 500px;
            }
            .desc {
              h3 {
                max-width: 350px;
              }
            }
          }
        }
      }
    }
    &.wrapperProfit {
      position: relative;
      #profitCanvas {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      #profitrolCanvas {
        position: absolute;
        top: 3px;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      header {
        padding: 135px 0 70px 0;
        text-align: center;
        position: relative;
        &::before {
          content: '';
          background: url(../img/kvadratfon.png) no-repeat;
          background-size: 100% 100%;
          position: absolute;
          width: 100%;
          height: 180px;
          top: 100px;
          left: 0;
          right: 0;
          margin: auto;
          z-index: -1;
        }
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 20px;
          position: relative;
          .swapTab {
            .transition(all .35s);
            .transform(translate3d(0, -50%, 0));
            opacity: 0;
            &.visible {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
            &[data-tab=tab2] {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
        p {
          font-size: 1rem;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          .swapTab {
            .transition(all .35s .45s);
            .transform(translate3d(0, -50%, 0));
            opacity: 0;
            &.visible {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
          }
        }
      }
      .advaWrap {
        position: relative;
      }
      .advantages {
        .flex-block();
        .justify-content(space-around);
        .align-content(top);
        .align-items(top);
        .box-sizing();
        padding: 0 5% 90px 5%;
        &.vigoda {
          position: relative;
          &:not(.visible) {
            z-index: -1;
          }
          &.visible {
            z-index: 2;
          }
          &[data-tab=tab2] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          &.swapTab {
            .transition(all .45s);
            .transform(translate3d(0, -50%, 0));
            opacity: 0;
            &.visible {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
          }
          .advaBlock {
            width: 33%;
            cursor: inherit;
            background: url(../img/backNiga.jpg);
            z-index: 1;
            position: relative;
            &::before {
              content: '';
              background: url(../img/kvadratfon.png) no-repeat;
              background-size: 100%;
              position: absolute;
              width: 50%;
              height: 60%;
              top: -40px;
              left: 0;
              right: 0;
              margin: auto;
              z-index: -1;
            }
            .icon {
              width: 100px;
              height: 100px;
              .rounded(50%);
              margin-right: 20px;
              display: inline-block;
              vertical-align: middle;
              position: relative;
              img {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                width: auto;
                height: 100%;
              }
            }
            &:hover, &.active {
              .icon {
                box-shadow: none;
              }
            }
          }
        }
        &.first {
          position: relative;
          padding: 0 5%;
          top: 48px;
          &:not(.visible) {
            z-index: -1;
          }
          &.visible {
            z-index: 2;
          }
          &[data-tab=tab2] {
            position: absolute;
            top: 56px;
            &.service {
              top: 48px;
            }
            left: 0;
            width: 100%;
            //height: 100%;
          }
          &[data-tab=tab3] {
            position: absolute;
            top: 48px;
            left: 0;
            width: 100%;
            //height: 100%;
          }
          &.swapTab {
            .transition(all .45s);
            .transform(translate3d(0, -50%, 0));
            opacity: 0;
            &.visible {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
          }
          .advaBlock {
            width: 130px;
            position: relative;
            z-index: 1;
            .flex-block();
            .flex-direction(column-reverse);
            .justify-content(space-between);
            .align-items(center);
            &.nobefore {
              &::before {
                display: none;
              }
              &::after {
                display: none;
              }
            }
            &::before {
              content: '';
              background: url(../img/kvadratfon.png) no-repeat;
              background-size: contain;
              position: absolute;
              width: 100%;
              height: 60%;
              top: -30px;
              left: 0;
              right: 0;
              margin: auto;
              z-index: -1;
            }
            .description {
              margin-bottom: 20px;
              max-width: 150px;
              width: 100%;
              color: white;
              font-size: 1rem;
              text-align: center;
              font-family: 'Roboto', sans-serif;
              min-height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              span {

              }
            }
            .icon {
              background: #001d2e;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 2px solid white;
              svg {
                width: 100%;
                max-width: 60%;
                max-height: 60%;
                fill:none;
                stroke:#01d6ff;
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-width: 1.8px;
                fill-rule:evenodd;
                .transition(stroke .35s);
              }
            }
            &:hover, &.active {
              .icon {
                .box-shadow(0, 0, 20px, @color-blue);
                background: #005071;
              }
            }
            &.active {
              .icon svg {
                stroke: white;
              }
            }
          }
        }
        .advaBlock {
          //width: 33%;
          cursor: pointer;
          .icon {
            width: 100px;
            height: 100px;
            .rounded(50%);
            position: relative;
            .transition(all .35s);
            img {
              width: 100%;
            }
          }
          .desc {
            display: inline-block;
            vertical-align: middle;
            color: white;
            width: ~"calc(100% - 130px)";
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
          }
        }
      }
      .profitContent {
        .blockProfit {
          .flex-block();
          .align-items(center);
          .justify-content(space-between);
          &.block2 {
            .flex-direction(row-reverse);
            padding: 0 5% 100px;
          }
          .box-sizing();
          padding: 100px 5%;
          .icon {
            width: 45%;
            img {
              width: 75%;
              display: block;
              margin: 0 auto;
            }
          }
          .description {
            width: 55%;
            h4 {
              font-size: 3.125rem;
              margin-top: 0;
              margin-bottom: 15px;
              color: white;
            }
            p {
              font-size: 1rem;
              color: white;
              font-family: 'Roboto', sans-serif;
            }
          }
        }
      }
    }
    &.wrapperFaster {
      padding: 0 5%;
      position: relative;
      #fasterCanvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: ~"calc(100% + 20px)";
        z-index: -1;
      }
      header {
        padding: 80px 0 90px 0;
        text-align: center;
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 0;
          padding: 0 40px;
          display: inline-block;
          position: relative;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 80%;
            height: 60px;
            top: 0;
            right: -85px;
            margin: auto;
            z-index: -1;
          }
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 80%;
            height: 60px;
            top: 0;
            left: -85px;
            margin: auto;
            z-index: -1;
          }
          span {
            &.swapTab {
              .transition(all .45s);
              .transform(translate3d(0, -50%, 0));
              opacity: 0;
              &.visible {
                opacity: 1;
                .transform(translate3d(0, 0, 0));
              }
            }
          }
        }
        p {
          font-size: 1rem;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          span {
            &.swapTab {
              .transition(all .45s);
              .transform(translate3d(0, -50%, 0));
              opacity: 0;
              &.visible {
                opacity: 1;
                .transform(translate3d(0, 0, 0));
              }
            }
          }
        }
      }
      .cheto {
        background-image: -moz-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
        background-image: -webkit-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
        background-image: -ms-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
        background-image: linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
        width: 100%;
        position: relative;
        height: 20vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        z-index: 1;
        opacity: 0;
        .transition(opacity 0.35s);
        &.active {
          opacity: 1;
        }
        #chetoCanvas {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        .wrap {
          background: url(../img/pattern.png);
          height: 100%;
          width: 100%;
        }
        .icon {
          &:not(.visible) {
            z-index: 1;
          }
          &.visible {
            z-index: 2;
          }
          &.swapTab {
            .transition(all .45s);
            .transform(translate3d(0, -50%, 0));
            opacity: 0;
            &.visible {
              opacity: 1;
              .transform(translate3d(0, 0, 0));
            }
          }
          position: absolute;
          width: 300px;
          .flex-block();
          .justify-content(space-around);
          .align-items(center);
          img {
            width: 80px;
            height: 80px;
            .rounded(50%);
            .box-shadow(0, 0, 20px, @color-blue);
          }
          p {
            color: white;
            width: 190px;
          }
          &.icon1 {
            width: 80px;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 5%;
          }
          &.icon2 {
            bottom: 10%;
            left: 20%;
          }
          &.icon3 {
            top: 10%;
            left: 35%;
          }
          &.icon4 {
            bottom: 10%;
            left: 50%;
          }
          &.icon5 {
            top: 10%;
            left: 65%;
          }
          &.icon6 {
            width: 80px;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 5%;
          }

        }
      }
    }
    &.wrapperReviews {
      position: relative;
      #reviewsCanvas {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      >header {
        padding: 135px 0 90px;
        text-align: center;
        z-index: 1;
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 20px;
          position: relative;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 50%;
            height: 200px;
            top: -40px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
          }
        }
        p {
          font-size: 1rem;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          position: relative;
          display: inline-block;
          margin: 0;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 40px;
            height: 40px;
            top: -11px;
            left: -15px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 40px;
            height: 40px;
            top: -11px;
            right: -15px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
        }
      }
      .reviews {
        position: relative;
        .prev, .next {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          cursor: pointer;
          z-index: 3;
          padding: 20px;
          width: 11px;
          height: 25px;
          background-repeat: no-repeat;
          background-origin: content-box;
        }
        .prev {
          background-image: url(../img/sliderPrev.png);
          left: 5%;
          &:hover {
            background-image: url(../img/sliderPrevHover.png);
          }
        }
        .next {
          background-image: url(../img/sliderNext.png);
          right: 5%;
          &:hover {
            background-image: url(../img/sliderNextHover.png);
          }
        }
        .slider {
          position: relative;
          overflow: hidden;
          min-height: 32vw;
          padding: 7vh 0;
          perspective-origin: center;
          perspective: 2000px;
          .item {
            position: absolute;
            left: 0;
            right: 0;
            border: 2px solid @color-blue;
            .box-shadow(0, 0, 20px, rgba(1, 214, 255, 0.46));
            background: url(../img/backNiga.jpg);
            width: 25%;
            margin: 0 auto;
            .rounded(5px);
            transform-style: preserve-3d;
            .transition(all .5s);
            &.left {
              .transform(translate3d(-110%, 0, 0) rotateY(40deg));
              transform-origin: right;
            }
            &.center {
              .transform(translate3d(0, 0, 0));
            }
            &.right {
              .transform(translate3d(110%, 0, 0) rotateY(-40deg));
              transform-origin: left;
            }
            &.visible {
              opacity: 1;
              visibility: visible;
            }
            &.hidden {
              opacity: 0;
              visibility: hidden;
            }
            &.toRight {
              .transform(translate3d(220%, 0, 0) rotateY(-50deg));
              transform-origin: left;
            }
            &.toLeft {
              .transform(translate3d(-220%, 0, 0) rotateY(50deg));
              transform-origin: right;
            }
            .wrapper {
              background: white;
              .box-sizing();
              margin: 7px;
              height: 30vw;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              header {
                img {
                  width: 100%;
                }
              }
              .logoItem {
                padding: 10px 0;
                text-align: center;
                img {

                }
              }
              .description {
                padding: 0 5%;
                margin-top: 35px;
                font-family: 'Roboto', sans-serif;
              }
              .signature {
                text-align: center;
                padding: 20px 0;
                p {
                  color: #8e8e8e;
                  margin: 0;
                  &.name {
                    font-size: 1.125rem;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.wrapperAction {
      margin-top: 135px;
      padding-top: 15px;
      //margin-bottom: 150px;
      line-height: 0;
      width: 100%;
      position: relative;
      z-index: 1;
      #actionCanvas {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: ~"calc(100% + 170px)";
        z-index: -1;
      }
      header {
        padding: 40px 0 55px 0;
        text-align: center;
        line-height: normal;
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 20px;
          padding: 10px 0;
          background-image: url(../img/backNiga.jpg);
          display: inline;
          position: relative;
          z-index: 1;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            bottom: 0;
            left: -15px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 40px;
            height: 40px;
            top: 0;
            bottom: 0;
            right: -15px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
        }
        p {
          font-size: 1rem;
          color: white;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      form {
        line-height: normal;
        text-align: center;
        z-index: 4;
        position: relative;
        .wrapinput {
          display: inline-block;
          width: 25%;
          margin: 0 20px;
          position: relative;
          z-index: 1;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 70px;
            height: 40px;
            top: 0;
            bottom: 0;
            left: -15px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 70px;
            height: 40px;
            top: 0;
            bottom: 0;
            right: -33px;
            /* right: 0; */
            margin: auto;
            z-index: -1;
          }
        }
        input[type=file] {
          display: none;
        }
        input[type=text], input[type=tel] {
          border: 1px solid @color-blue;
          .rounded(2px);
          margin: 0 10px;
          padding: 10px 15px;
          width: 100%;
          .box-sizing();
          font-size: 1rem;
        }
        button {
          margin: 25px auto;
          display: block;
          position: relative;
          background: url(../img/backNiga.jpg);
          top: 25px;
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            width: 98px;
            height: 30px;
            position: absolute;
            top: 5px;
            left: -40px;
            z-index: -1;
            background-size: 100% 100%;
          }
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            width: 98px;
            height: 30px;
            position: absolute;
            top: 5px;
            right: -40px;
            z-index: -1;
            background-size: 100% 100%;
          }
        }
      }
      .lineAction {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: -5px;
        margin: auto;
        width: 60%;
        height: 144px;
        border: 2px solid #00d7ff;
        box-shadow: 0 0 20px rgba(0, 215, 255, 0.51);
        border-radius: 10px;
        z-index: -1;
      }
      .man {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform-origin: left bottom;
      }
      .kuka {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 3;
        transform-origin: right bottom;
      }
    }
    &.wrapperProduction {
      //border-top: 2px solid @color-blue;
      //border-bottom: 2px solid @color-blue;
      position: relative;
      #productionCanvas {
        position: absolute;
        top: -90px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: ~"calc(100% + 120px)";
        z-index: -1;
      }
      .slider {
        position: relative;
        overflow: hidden;
        min-height: 630px;
        height: 70vh;
        max-height: 720px;
        .mobileManipulate {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          height: 50px;
          width: 100%;
          z-index: 2;
          display: none;
          .justify-content(space-between);
          .align-items(center);
          .box-sizing();
          padding: 40px 20px;
          .arrow {
            position: relative;
            cursor: pointer;
            padding: 20px;
            &.left {
              background: black url(../img/sliderPrev.png) no-repeat center;
              width: 11px;
              height: 25px;
              right: 30px;
            }
            &.right {
              background: black url(../img/sliderNext.png) no-repeat center;
              width: 11px;
              height: 25px;
              left: 30px;
            }
          }
        }
        .item {
          position: absolute;
          top: 0;
          left: 5%;
          background-image: -moz-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
          background-image: -webkit-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
          background-image: -ms-linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
          background-image: linear-gradient( 120deg, rgb(1,183,232) 0%, rgb(0,97,138) 37%, rgb(0,97,138) 50%, rgb(25,112,149) 50%, rgb(0,92,132) 100%);
          width: 90%;
          height: 100%;
          //border-bottom-left-radius: 7px;
          //border-top-left-radius: 7px;
          .box-sizing();
          color: white;
          .transform(translate3d(100%, 0, 0));
          visibility: hidden;
          opacity: 1;
          .transition(all .45s ease-in-out);
          overflow: hidden;
          &.active {
            .transform(translate3d(0, 0, 0));
            visibility: visible;
          }
          &.hide {
            .transform(scale(0.5));
            opacity: 0;
          }
          .wrap.gradient {
            position: relative;
            width: 100%;
            height: 100%;
            background: url(../img/pattern.png);
            padding: 80px 30px 30px 70px;
            .box-sizing();

            .flex-block();
            .justify-content(space-between);
            .align-items(center);
          }
          .description {
            max-width: 600px;
            margin-right: 40px;
            z-index: 2;
            align-self: flex-start;
            padding: 31px 0 0 18px;
            &.need-max-width {
              width: 100%;
              max-width: 700px;
            }
            &.nomr {
              margin-right: 0;
            }
            .headTitle {
              max-width: 430px;
              margin-bottom: 45px;
              &.head-max-width {
                max-width: 100%;
              }
              &.borderless {
                max-width: 100%;
              }
              h3 {
                font-size: 2.4rem;
                color: white;
                margin: 0;
                text-transform: uppercase;
              }
              .line {
                width: 80px;
                height: 3px;
                background: white;
                margin: 20px 0;
              }
              p {
                margin: 0;
                font-size: 1.25rem;
                font-family: 'Roboto', sans-serif;
              }
            }
            ul {
              list-style: none;
              padding: 0;
              margin: 0;
              li {
                //margin: 1rem 0;
                padding: 0 0 1.5rem 30px;
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
                background-image: url(../img/marker.png);
                background-repeat: no-repeat;
                background-position: 3px 3px;
              }
            }
          }
          .image {
            img {
              width: 100%;
            }
          }
          &.block1 {
            .wrap.gradient{
              align-items: flex-start;
              flex-direction: column;
            }
            .image {
              margin-top: 30px;
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              align-items: center;
              align-content: space-between;
              >div {
                width: 33.333%;
                padding: 10px;
                .box-sizing();
              }
              &.im25 {
                >div {
                  width: 25%;
                }
              }
              img {
                width: 100%;
                box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.3);
              }
            }
          }
        }
      }
    }
    &.pageContacts {
      padding: 40px;
      display: flex;
      justify-content: space-between;
      h4 {
        font-size: 2.3rem;
        margin-top: 0;
        margin-bottom: 10px;
        width: 240px;
      }
      .map-contacts {
        color: white;
        width: 60%;
        position: relative;
        .united-text {
          position: relative;
          font-size: 1.5rem;
          z-index: 1;
          &::before {
            content: '';
            position: absolute;
            left: -45px;
            top: -5px;
            width: 40px;
            height: 55px;
            background: url(../img/adress.png) no-repeat;
            background-size: 80%;
          }
          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -30px;
            background: url(../img/kvadratfon.png);
            width: 98px;
            height: 98px;
            z-index: -1;
            margin: auto;
          }
        }
        p {
          margin: 0 0 5px 0;
          text-transform: uppercase;
          font-weight: bold;
        }
        #map {
          width: 100%;
          height: 450px;
          margin-top: 40px;
        }
        #mapCanvas {
          position: absolute;
          top: 0;
          left: -90px;
          right: 0;
          bottom: 0;
          width: ~"calc(100% + 100px)";
          height: 110%;
          z-index: -1;
        }
      }
      .contacts {
        margin-right: 10px;
        .contact-info {
          margin-bottom: 50px;
          &:nth-of-type(2) {
            button {
              margin-top: 20px;
            }
            .info {
              padding: 7px 0;
              p {
                font-size: 1.5rem;
              }
              span {
                font-size: 1.5rem;
              }
            }
          }
        }
        .info {
          padding: 13px 0;
          color: white;
          font-size: 1rem;
          p {
            margin: 0 0 5px 0;
            font-size: 1.9rem;
            letter-spacing: -1.3px;
          }
          p:nth-of-type(1) {
            font-size: 1.1rem;
            letter-spacing: normal;
          }
          .text-mini {
            color: @color-blue;
            font-size: 1.1rem;
            letter-spacing: normal;
          }
          span {
            font-size: 1.25rem;
          }
        }
      }
    }
    &.pagePartners {
      position: relative;
      width: 100%;
      &.about {
        margin-bottom: 80px;
      }
      header {
        text-align: center;
        z-index: 1;
        h3 {
          font-size: 2.125rem;
          margin-top: 0;
          margin-bottom: 80px;
          position: relative;
          &::after {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 40%;
            height: 60px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
          }
        }
        &.about {
          color: white;
          font-size: 1rem;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          margin-bottom: 40px;
          p {
            max-width: 1000px;
            width: 80%;
            margin: 0 auto;
            background-image: url(../img/backNiga.jpg);
            position: relative;
            &::after {
              content: '';
              background: url(../img/kvadratfon.png) no-repeat;
              background-size: 100% 100%;
              position: absolute;
              width: 10%;
              height: 45px;
              top: 0;
              left: -40px;
              z-index: -1;
            }
            &::before {
              content: '';
              background: url(../img/kvadratfon.png) no-repeat;
              background-size: 100% 100%;
              position: absolute;
              width: 10%;
              height: 45px;
              top: 0;
              right: -40px;
              z-index: -1;
            }
          }
        }
      }
      #canvasPartners {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .partners {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .partner {
          padding: 0 10px;
          img {
            width: 100%;
          }
        }
      }
      .arrows {
        position: absolute;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 92px;
        .left {
          position: absolute;
          left: 3%;
          cursor: pointer;
          height: 100%;
          width: 65px;
        }
        .right {
          position: absolute;
          right: 3%;
          cursor: pointer;
          height: 100%;
          width: 65px;
        }
        img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 100%;
          height: 96px;
        }
      }
    }
    &.pagePortfolio {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 3vw;
      font-size: 1.25rem;
      .portfolios {
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin: 0 5vw 50px 0;
        width: 28%;
        padding: 5px;
        border: 1px solid #00d7ff;
        border-radius: 8px;
        box-shadow: 0 0 10px #00d7ff;
        line-height: 0;
        position: relative;
        &:nth-of-type(3n) {
          margin: 0 0 50px 0;
        }
        .project-portfolio {
          height: 100%;
          background-image: -moz-linear-gradient( 90deg, rgb(0,50,82) 0%, rgb(11,117,182) 30%);
          background-image: -webkit-linear-gradient( 90deg, rgb(0,50,82) 0%, rgb(11,117,182) 30%);
          background-image: -ms-linear-gradient( 90deg, rgb(0,50,82) 0%, rgb(11,117,182) 30%);
          background-image: linear-gradient( 0deg, rgb(0,50,82) 0%, rgb(11,117,182) 30%);//-90deg
          .podrobnee {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            margin: auto;
            width: 40%;
            padding: 15px;
            z-index: 3;
            font-weight: 500;
          }
          .bg-port {
            display: inline-block;
            width: 100%;
            padding-top: 66%;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
          }
          .desc-port {
            line-height: normal;
            padding: 1px 20px 50px;
            position: relative;
            > * {
              z-index: 2;
            }
            .short_text {
              overflow: hidden;
              margin: 20px 0;
              .transition(all .35s);
            }
            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: url("../img/portfolio/pattern1.png");
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
        }
      }
    }
    &.page-innerPortfolio {
      padding: 40px;
      font-size: 1.25rem;
      header {
        color: white;
        > * {
          margin-bottom: 25px;
        }
        .caption {
          color: @color-blue;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        p {
          margin: 0;
        }
        .zakaz {
          text-transform: uppercase;
          color: @color-orange;
          p {
            width: 50%;
          }
        }
        .desc {
          .desc-left {
            .column(2, 3rem);
            text-align: justify;
          }
        }
      }
      section {
        display: flex;

        margin: 60px 0;
        flex-wrap: wrap;
        align-items: center;
        .item-wrapper {
          padding: 5px;
          width: 30%;
          border: 1px solid #00d7ff;
          border-radius: 8px;
          box-shadow: 0 0 10px #00d7ff;
          line-height: 0;
          position: relative;
          margin-bottom: 3vw;
          margin-right: 3.33%;
          color: white;
          z-index: 3;
          box-sizing: border-box;
          &:nth-of-type(3n) {
            margin-right: 0;
          }
          .caption-video {
            line-height: normal;
            position: absolute;
            z-index: 1;
            width: 80%;
            right: 0;
            opacity: 0;
            text-align: center;
            .transition(.35s all);
            .transform(translate3d(0,80%,0));
            top: 0;
            left: 0;
            height: 100%;
            margin: auto;
          }
          .item {
            display: block;
            cursor: pointer;
            color: white;
            video {
              width: 100%;
            }
            &::after {
              content: '';
              top: 0;
              left: 0;
              position: absolute;
              z-index: 0;
              background-color: rgba(0,39,65, 0.7);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 25%;
              width: 100%;
              height: 100%;
              border-radius: 10px;
              .transition(.35s all);
            }
          }
          &.video {
            .item {
              &::after {
                background-image: url("../img/portfolio/play.png");
              }
            }
            &:hover {
              .item {
                &::after {
                  background-position: center 40%;
                }
              }
              .caption-video {
                .transform(translate3d(0,70%,0));
                opacity: 1;
              }
            }
          }
          &.image {
            .item {
              display: inline-block;
              width: 100%;
              padding-top: 56%;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              img {
                display: none;
              }
              &::after {
                opacity: 0;
                background-image: url("../img/portfolio/zoom.png");
              }
              &:hover {
                &::after {
                  opacity: 1;
                }
              }
            }
          }
          img {
            width: 100%;
          }
        }
      }
    }
    &.pageAbout {
      padding: 40px;
      font-size: 1.25rem;
      .textColumn {
        color: white;
        .column(2, 3rem);
        text-align: justify;
      }
    }
    &.wrapperSection {
      position: relative;
      #aboutPartners {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      >header {
        padding: 75px 0 80px;
        text-align: center;
        z-index: 1;
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 20px;
          position: relative;
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            width: 50%;
            height: 60px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
          }
        }
      }
      .wrapSect {
        color: white;
        .flex-block();
        .justify-content(space-around);
        .align-content(top);
        .align-items(top);
        .box-sizing();
        padding: 0 5% 90px 5%;
        max-width: 1700px;
        margin: 0 auto;
        .advaBlock {
          width: 320px;
          position: relative;
          z-index: 1;
          .flex-block();
          .flex-direction(column);
          .justify-content(space-between);
          .align-items(center);
          &::before {
            content: '';
            background: url(../img/kvadratfon.png) no-repeat;
            background-size: contain;
            position: absolute;
            width: 100%;
            height: 60%;
            top: -30px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
          }
          .description {
            margin-top: 20px;
            //margin-bottom: 20px;
            //max-width: 150px;
            width: 100%;
            color: white;
            font-size: 1rem;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            min-height: 60px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            span {

            }
          }
          .icon {
            background: #001d2e;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            .rounded(50%);
            position: relative;
            width: 100px;
            height: 100px;
            svg {
              width: 100%;
              max-width: 60%;
              max-height: 60%;
              fill:none;
              stroke:#01d6ff;
              stroke-linecap:round;
              stroke-linejoin:round;
              stroke-width: 1.8px;
              fill-rule:evenodd;
              .transition(stroke .35s);
            }
          }
        }
      }
    }
    &.wrapperDescAbout {
      header {
        padding: 25px 0 10px;
        text-align: center;
        z-index: 1;
        h3 {
          font-size: 3.125rem;
          margin-top: 0;
          margin-bottom: 0;
          position: relative;
        }
      }
      section {
        margin: 0 auto 40px;
        max-width: 900px;
        .block {
          color: white;
          position: relative;
          text-align: justify;
          margin: 35px 0;
          font-size: 1rem;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          &::before {
            content: '';
            background-image: url(../img/galkavkrug.png);
            width: 82px;
            height: 82px;
            position: absolute;
            top: -20px;
            left: -77px;
          }
          a {
            color: @color-blue;
          }
        }
      }
      footer {
        text-align: center;
        margin: 0 auto 40px;
        color: white;
        position: relative;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        a {
          color: @color-blue;
        }
      }
    }
  }
  footer {
    z-index: 2;
    position: relative;
    //background: black;
    .content {
      .flex-block();
      .align-items(center);
      .align-content(center);
      .justify-content(space-around);
      padding: 70px 5%;
      .box-sizing();
      .block {
        height: 100px;
        > a {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
        .tel {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 24px;
          color: @color-orange;
          text-decoration: none;
          margin-bottom: 10px;
        }
        &:nth-last-child(1) {
          width: 75%;
          max-width: 830px;
        }
        nav {
          color: white;
          height: 100%;
          width: 100%;
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            .flex-block();
            .flex-direction(column);
            .flex-wrap(wrap);
            li {
              margin: 5px 0;
              a {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}

/* База анимаций появления и при скролле */
.refreshAnimation, .animation {
  .fade {
    opacity: 0;
    transition-property: all;
    transition-duration: .4s;
    &.go {
      opacity: 1;
    }
  }
  .translateBottom {
    .transform(translate3d(0, 30px, 0));
    transition-property: all;
    transition-duration: .4s;
    &.go {
      .transform(translate3d(0, 0, 0));
    }
  }
  .delay1 {
    transition-delay: .1s;
  }
  .delay2 {
    transition-delay: .2s;
  }
  .delay4 {
    transition-delay: .4s;
  }
}

.oldContent, .newContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../img/backNiga.jpg);
  overflow-x: hidden;
}
.oldContent {
  z-index: 1;
  opacity: 1;
  .transform(translate3d(0, 0, 0) scale(1));
  .transition(all .7s cubic-bezier(0.86, 0, 0.07, 1));
  &.active {
    .transform(scale(0.7));
  }
}
.newContent {
  z-index: 2;
  .transform(translate3d(100%, 0, 0));
  .transition(transform 1s cubic-bezier(0.86, 0, 0.07, 1));
  &.active {
    .transform(translate3d(0, 0, 0));
  }
}
@media screen and(min-width: 2200px) {
  html {
    font-size: 20px;
  }
}
@media screen and(min-width: 2000px) {
  html {
    font-size: 18px;
  }
  section.mainSection .wrapper.wrapperProduction .slider .item.block1 .image {
    justify-content: flex-start;
  }
  section.mainSection .wrapper.wrapperProduction .slider .item.block1 .image > div {
    max-width: 250px;
  }
  section.mainSection .wrapper.wrapperProfit .advaWrap {
    padding-bottom: 90px;
  }
  section.mainSection .wrapper.wrapperProfit .advantages.first .advaBlock {
    flex-direction: column;
    &::after {
      content: '';
      background: url(../img/kvadratfon.png) no-repeat;
      background-size: contain;
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: -30px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }
  section.mainSection .wrapper.wrapperProfit .advantages.first .advaBlock .description {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
@media screen and(min-width: 1880px) {
  html {
    font-size: 16px;
  }
  aside.mainMenu .navigation {
    font-size: 1rem;
  }
  aside.mainMenu .navigation ul li a:hover::before {
    .transform(scale(9));
  }
  section.mainSection .wrapper.pagePortfolio .portfolios {
    width: 19%;
  }
  section.mainSection .wrapper.wrapperProduction .slider {
    max-height: 880px;
    height: 85vh;
  }
}
@media screen and(min-width: 1450px) {
  section.mainSection .wrapper.pageContacts {
    padding: 70px;
    .contacts {
      margin-right: 50px;
    }
  }
}
@media screen and(max-width: 1800px) {
  section.mainSection .wrapper.wrapperAction .man {
    left: -35px;
  }
}
@media screen and(max-width: 1440px) {
  html {
    font-size: 13px;
  }
  aside.mainMenu {
    width: 250px;
    .logo {
      padding: 0 0 15px 0;
    }
    .navigation ul li a {
      padding: 1.3vh 35px 1.3vh 40px;
    }
    .block {
      padding: 10px 0;
    }
    .block.calc {
      display: none;
    }
  }
  section.mainSection {
    width: ~"calc(100% - 250px)";
    margin-left: 250px;
    .wrapper {
      &.wrapperMain {
        .kuka {
          .transform(scale(.6));
        }
        .iscr1 {
          .transform(scale(.6));
        }
        .iscr2 {
          .transform(scale(.6));
        }
        .iscr3 {
          .transform(scale(.6));
        }
      }
      &.wrapperDevelop {
        .tabsContent[data-tab=tab2] .leftSide.service {
          transform: translate3d(0, -77px, 0);
        }
        .tabsContent[data-tab=tab3] .leftSide.service {
          transform: translate3d(0, -44px, 0);
        }
        .tabsContent .leftSide.service {
          min-height: 490px;

        }
        .tabsContent .rightSide .desc p {
          font-size: 1.1rem;
        }
        &.service .tabsContent {
          align-items: flex-end;
        }
      }
      &.wrapperAction {
        .man {
         left: -75px;
        }
      }
      &.wrapperProduction .slider .item .description {
        padding: 0;
        .headTitle {
          h3 {
            font-size: 2rem;
          }
          p {
            font-size: 1.1rem;
          }
          ul li {
            font-size: .95rem;
          }
        }

      }
    }
  }
}
@media screen and (max-width: 1340px) {
  section.mainSection .wrapper.wrapperDevelop .tabsContent.active .leftSide::after {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  section.mainSection .wrapper.wrapperProduction .slider {
    min-height: 60vw;
  }
  section.mainSection .wrapper.wrapperFaster .cheto {
    height: 26vw;
    .icon {
      width: 230px;
      p {
        width: 100px;
      }
    }
  }
  section.mainSection .wrapper.wrapperAction .man {
    left: -140px;
  }
  section.mainSection .wrapper.wrapperAction .lineAction {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  section.mainSection {
    .wrapper.wrapperDevelop {
      .tabsContent {
        &[data-tab='tab2'] {
          .rightSide .desc h3 {
            max-width: 100%;
          }
        }
        .leftSide {
          display: none;
        }
        .rightSide {
          width: 100%;
          padding: 7vw;
          padding-top: 0;
          .desc {
            h3 {
              max-width: 100%;
              right: 0;
              width: 100%;
              text-align: center;
              &::before {
                display: none;
              }
            }
            p {
              padding: 1rem 0;
              text-align: center;
            }
            .button {
              width: 180px;
              left: 0;
              right: 0;
              bottom: -30px;
              text-align: center;
              margin: auto;
            }
          }
        }
      }
    }
  }
  section.mainSection .wrapper.wrapperProduction .slider {
    min-height: 75vw;
  }
}

@media screen and(max-width: 1880px) {
  section.mainSection .wrapper.pagePortfolio .portfolios {
    width: 27%;
  }
}
@media screen and (max-width: 1366px) {
  section.mainSection .wrapper {
    &.wrapperMain {
      .kuka {
        .transform(scale(0.5));
      }
    }
    &.wrapperAction {
      //overflow: hidden;
      //padding-top: 170px;
      margin-top: 155px;
    }
    &.wrapperProduction .slider .item img {
      width: 39%;
    }
    &.wrapperDevelop .tabsContent .rightSide .desc h3::before {
      width: 507px;
    }
  }
}
@media screen and (max-width: 1150px) {
  section.mainSection {
    width: 100%;
    margin-left: 0;
    .wrapper {
      &.wrapperMain {
        .kuka {
          height: 450px;
          width: 676px;
          background-size: 100%;
        }
      }
      &.wrapperFaster {
        header {
          padding: 35px 0;
        }
        .cheto {
          background: none;
          height: auto;
          padding-bottom: 5vh;
          .flex-block();
          .flex-direction(column);
          .align-items(center);
          .justify-content(space-between);
          .icon:not(.visible) {
            position: absolute;
          }
          .icon p {
            width: 200px;
          }
          .icon {
            position: relative;
            width: 350px;
            top: initial!important;
            left: initial!important;
            right: initial!important;
            bottom: initial!important;
            padding: 2vh 0;
          }
        }
        header {
          padding: 35px 0;
        }
      }
      &.wrapperProfit .advantages {
        flex-wrap: wrap;
        &.vigoda {
          flex-wrap: nowrap;
        }
      }
      &.wrapperAction {
        .man {
          left: -150px;
          display: none;
        }
        .kuka {
          display: none;
        }
      }
      &.pagePortfolio {
        .portfolios {
          width: 28%;
        }
      }
    }
    footer {
      .content {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .block {
          width: 100%;
          > a {
            width: 180px;
          }
          &:nth-last-child(1) {
            width: 100%;
          }
        }
      }
    }
    .burger {
      display: block;
    }
  }
  aside.mainMenu {
    .transition(.5s all);
    .transform(translate3d(-100%,0,0));
    .wrapper {
      .closeMobile {
        display: block;
      }
    }
    .logo img {
      width: 25vw;
    }
    .navigation ul li a {
      padding: 1vh 35px 1vh 40px;
    }
    .block {
      padding: 6px 0 0;
      &.contact {
        .tel {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  section.mainSection {
    .wrapper {
      &.wrapperMain {
        .mainSlider .slide .headTitle {
          right: 0;
          left: 0;
        }
      }
      &.wrapperAction {
        &.innerPortfolio {
          padding: 0;
        }
        .man, .kuka {
          display: none;
        }
        form {
          .wrapinput {
            width: 75%;
            margin: 10px 0;
          }
        }
        header {
          width: 90%;
          margin: auto;
          h3 {
            background-image: none;
          }
        }
      }
      &.wrapperProduction {
        //display: none;
        .image {
          display: none;
        }
        .slider {
          height: 805px;
          max-height: 805px;
          .mobileManipulate {
            .flex-block();
            padding: 0 20px;
          }
        }
        .slider .item .description {
          max-width: inherit;
          width: 100%;
          .headTitle {
            max-width: inherit;
          }
        }
      }
      &.wrapperMain {
        .kuka {
          display: none;
        }
        .iscr1, .iscr2, .iscr3 {
          display: none;
        }
      }
      &.wrapperProfit {
        header {
          padding: 115px 0 0 0;
        }
        .advantages {
          &.first {
            display: none;
          }
          .flex-direction(row);
          .advaBlock {
            width: 30%;
            margin-bottom: 25px;
          }
          &.vigoda {
            .flex-direction(column);
            .align-items(center);
            .advaBlock {
              width: 100%;
            }
          }
        }
      }
      &.wrapperReviews {
        display: none;
      }
      &.wrapperFaster header h3 {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
      &.pageContacts {
        display: block;
        .contacts {
          display: flex;
          justify-content: space-between;
        }
        .map-contacts {
          width: 100%;
          .united-text {
            width: 300px;
            margin: auto;
          }
        }
      }
      &.page-innerPortfolio {
        section .item-wrapper {
          width: 45%;
          margin-right: 5vw;
          &:nth-of-type(3n) {
            margin-right: 5vw;
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
        }
      }
      &.pagePortfolio .portfolios {
        width: 45%;
        &:nth-of-type(2n) {
          margin: 0 0 50px 0;
        }
        &:nth-of-type(3n) {
          margin: 0 0 50px 0;
        }
      }
    }
  }
}
@media screen and(max-width: 500px) {
  .modal .wrapper section .numberBlock .number {
    display: none;
  }
  h3 {
    font-size: 2rem!important;
  }
  section.mainSection {
    .wrapper {
      &.wrapperMain {
        .mainSlider {
          .slide {
            .headTitle {
              text-align: center;
              .line {
                margin: 20px auto;
              }
            }
          }
        }
      }
      &.wrapperDevelop {
        .tabsContent .rightSide {
          .desc {
            .columns {
              .flex-direction(column);
              .column {
                width: 100%;
                background-position: 20px center;
                p {
                  text-align: left;
                }
              }
            }
          }
        }
      }
      &.wrapperProfit {
        .advantages {
          padding: 0 5%;
        }
        .advantages .advaBlock {
          width: 50%;
        }
      }
      &.wrapperFaster {
        .cheto .icon {
          width: 100%;
          p {
            width: 170px;
          }
        }
      }
      &.pageContacts {
        .contacts {
          display: block;
          .info p:nth-of-type(2) {
            font-size: 1.6rem;
          }
        }
        .map-contacts {
          .united-text {
            width: 230px;
            &::before {
              display: none;
            }
          }
        }
      }
      &.pagePartners .partners {
        width: 60%;
      }
      &.page-innerPortfolio {
        padding: 20px;
        header .zakaz p {
          width: 100%;
        }
        header .desc .desc-left {
          .column(1);
          width: 100%;
        }
        section .item-wrapper {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0;
          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }
      }
      &.pagePortfolio .portfolios {
        width: 100%;
        margin: 0 0 50px 0;
      }
      &.wrapperAction {
        margin-top: 10px;
      }
    }
  }
  section.mainSection .wrapper.wrapperDevelop .tabs .tab {
    width: 80%;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: transparent;
    outline: none;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    border: 2px solid #ef7d00;
    color: #ef7d00;
    margin: 15px 0;
    a {
      font-size: 0.925rem;
    }
  }
  section.mainSection .wrapper.wrapperDevelop .tabs {
    flex-wrap: wrap;
  }
  section.mainSection .wrapper.wrapperDevelop .tabs .karetka {
    display: none;
  }
  section.mainSection .wrapper.wrapperProduction .slider .item .wrap.gradient {
    padding: 40px 25px;
  }
  section.mainSection footer .content .block:nth-last-child(1) {
    display: none;
  }
}
@media screen and(max-width: 400px) {
  h3 {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  section.mainSection {
    .wrapper.wrapperMain header .breadCrumbs {
      display: none;
    }
    .wrapper.wrapperMain .mainSlider .slide .headTitle.service {
      width: 100%;
      h1 {
        font-size: 2.8rem;
      }
    }
    .wrapper.wrapperMain .mainSlider .slide .headTitle {
      width: 100%;
    }
    .wrapper.wrapperProfit header p {
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .wrapper.page-innerPortfolio {
      section .item-wrapper {
        width: 100%;
      }
    }
    .wrapper.wrapperProduction .slider .item .description .headTitle h3 {
      -ms-word-wrap: break-word;
      word-wrap: break-word;
    }
  }
  header .desc .desc-left {
    width: 28vw;
  }
}

@media screen and (max-height: 800px) and (min-width: 1150px) {
  aside.mainMenu {
    .logo img {
      width: 8vw;
    }
  }
}
@media screen and(max-height: 800px) {
  section.mainSection .wrapper.wrapperDevelop {
    min-height: ~"calc(500px + 10rem + 110px)";
  }
  aside.mainMenu {
    .logo {
      padding: 0 0 10px 0;
    }
    .block {
      padding: 6px 0 0;
      &.contact {
        .tel {
          font-size: 20px;
          margin-bottom: 5px;
        }
      }
    }
    .navigation {
      font-size: 1.025rem;
    }
  }
}
@media screen and (max-height: 600px) {
  aside.mainMenu .block.contact .pod {
    display: none;
  }
  section.mainSection .wrapper.wrapperProduction .slider {
    min-height: 500px;
  }
}
